:root{
    --baseColor: #FF9B50;
    --color1: #EDF1D6;
    --color2: #9DC08B;
    --color3: #609966;
    --color4: #40513B;
    --fontLogo: 'Courgette', cursive;
    --bg: linear-gradient(to top, var(--color3) 0%, var(--color4) 100%);;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #9DC08B;
}

.container-fluid{
    background-color: #EDF1D6;
    padding-left: 50px;
    /* animation: fade-up 0.7s; */
}

.hero-image img {
    height: 100%;
    width: 100%;
    animation: fade-up 0.7s;
    border:1px solid #000000;

  }

.jumbotron{
    background-color: #9DC08B;
}

.hero-image{
    width: 600px;
    height: 400px;
    padding: 0;
    overflow:hidden;
    border: 20px solid #ecf1d6 ;

}

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    animation: fade-up 0.5s 0.4s;
    animation: slide 25s infinite;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
  
/* features*/
.content2{
    text-align: center;
}
.features-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    animation: fade-up 0.5s;
}
@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
        
    }
}
.features-img{
    width: 90px;
    height: 90px;
}
.features-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    /* border: 2px solid var(--secColor); */
}
.features-container .box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 35px;
    /* box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    border-radius: 20px; */
}
.features-container .box1 h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
/* .features-container .box1 p{
    font-style: italic;
} */

.logos{
    background-image: url(/img/car\ park.jpeg);
    background-size: cover;  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    
    margin: 100px;
    border: solid #5162f5;  
    border-radius: 10px;
}
.logos img{
    opacity: 1;
    margin-right: 50px;
    
}
.toyota img{
    width: 200px;
    height: 200px;
}
.bmw img{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    /* margin-left: 100px; */
}

.mcd img{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    /* margin-left: 170px; */
}
.mzd img{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    /* margin-left: 150px; */
}

/* Grow */
.hvr-grow img {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(184, 184, 5, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.4s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}