@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap");

:root {
  --baseColor: #ff9b50;
  --color1: #edf1d6;
  --color2: #9dc08b;
  --color3: #609966;
  --color4: #40513b;
  --fontLogo: "Courgette", cursive;
  --bg: linear-gradient(to top, var(--color3) 0%, var(--color4) 100%);
  --bg2: linear-gradient(-55deg, #40513b 29%, #609966 68%, #9dc08b 29%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: beige;
}

/* main content  */
.hero {
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 6rem;
}

/* banner */
.mySwiper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.mySwiper .banner {
  background: var(--bg2);
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0 5px 10px #0005;
  overflow: hidden;
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 450px;
}
.mySwiper .banner .btn {
  margin-bottom: 1rem;
  justify-content: center;
  background: var(--color3);
  color: var(--color1);
  border: solid 1px var(--color3);
  border-radius: 0.5rem;
}
.mySwiper .banner .btn:hover {
  color: var(--color4);
  background: var(--color2);
  border: 1px solid var(--color2);
}

/* services section  */
.services {
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
  color: var(--color4);
}

.services .content img {
  width: 80px;
  height: auto;
}

/* regular category */
.regular {
  margin-top: 2rem;
}

.regular-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.regular-container .box {
  padding: 10px;
  margin: 15px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.regular-container .box .box-img {
  width: 100%;
  height: 230px;
}
.regular-container .box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}
.regular-container .box p {
  padding: 0 10px;
  border: 1px solid var(--color4);
  width: 58px;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem;
}
.regular-container .box h3 {
  font-size: 1rem;
  font-weight: 500;
}
.regular-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--baseColor);
  margin: 0.2rem 0 0.5rem;
}
.regular-container .box h2 span {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color4);
}
.regular-container .box .btn {
  display: flex;
  justify-content: center;
  background: var(--color3);
  color: var(--color1);
  padding: 10px;
  border: 1px solid var(--color3);
  border-radius: 0.5rem;
}
.regular-container .box .btn:hover {
  color: var(--color4);
  background: var(--color2);
  border: solid 1px var(--color2);
}

/* premium category */
.premium {
  margin-top: 2rem;
}
.premium-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.premium .box {
  padding: 10px;
  margin: 15px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.premium .box .box-img {
  width: 100%;
  height: 230px;
}
.premium .box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}
.premium .box p {
  padding: 0 10px;
  border: 1px solid var(--color4);
  width: 58px;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem;
}
.premium .box h3 {
  font-size: 1rem;
  font-weight: 500;
}
.premium .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--baseColor);
  margin: 0.2rem 0 0.5rem;
}
.premium .box h2 span {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color4);
}
.premium .box .btn {
  display: flex;
  justify-content: center;
  background: var(--color3);
  color: var(--color1);
  padding: 10px;
  border: 1px solid var(--color3);
  border-radius: 0.5rem;
}
.premium .box .btn:hover {
  color: var(--color4);
  background: var(--color2);
  border: solid 1px var(--color2);
}
