@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap');

:root{
    --baseColor: #784cfb;
    --fontLogo: 'Courgette', cursive;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: beige;
}


/* main content  */
.hero{
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 6rem;
}