@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap');

:root {
    --baseColor: #FF9B50;
    --color1: #EDF1D6;
    --color2: #9DC08B;
    --color3: #609966;
    --color4: #40513B;
    --fontLogo: 'Courgette', cursive;
    --bg: linear-gradient(to top, var(--color3) 0%, var(--color4) 100%);
    --bg2: linear-gradient(-55deg, #40513b 29%, #609966 68%, #9dc08b 29%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: beige;
}


/* main content  */
.hero {
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 6rem;
}

/* banner */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-container .banner {
    background: var(--bg2);
    border-radius: 5px;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    width: 100%;
}
.banner-img > img {
    width: 750px;
    height: 450px;
}
.text {
    margin-top: 1rem;
    text-align: center;
}
.text h2 {
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 800;
    font-size: 2rem;
    color: var(--color1);
}
.text p {
    margin-bottom: 2rem;
    color: var(--baseColor);
    font-size: 1.2rem;
    font-weight: 400;
}

/* contact section */
#kontak {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#kontak .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
.kontak-kiri {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}
.kontak-kiri form input ,textarea {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffffee;
    font-size: 1.1rem;
    color: var(--color4);
}
.kontak-kiri form input::placeholder,
textarea::placeholder {
    color: var(--color4);
}
#kontak form input[type="submit"] {
    background-color: var(--color3);
    width: fit-content;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color1);
    border: 1px solid var(--color3);
    border-radius: 10px;
    transition: 0.5s, color 0.5s;
    margin: 20px auto;
    cursor: pointer;
    padding: 8px 35px;
}
#kontak form input[type="submit"]:hover {
    color: var(--color4);
    background: var(--color2);
    border: 1px solid var(--color2);
}
.kontak-kanan {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
}
.kontak-kanan h2 {
    font-weight: 800;
    font-size: 2rem;
}
.kontak-kanan p {
    color: var(--color4);
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 2rem;
}
.kontak-kanan p.icon {
    display: inline-block;
    width: fit-content;
    padding: 3px 11px;
}
.kontak-kanan ul {
    list-style: none;
}
.kontak-kanan ul li {
    display: inline-block;
}
.kontak-kanan ul li a {
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s transform 0.5s;
    color: #ffffee;
}
.kontak-kanan ul li a:hover {
    color: var(--baseColor);
    transform: translateY(-8px);
}
.kontak-title {
    color: var(--color4);
    margin-top: 1.2rem;
    margin-left: 1.8rem;
}
.icon {
    background-color: var(--color3);
    display: inline-block;
    padding: 0 5px;
    border-radius: 4px;
}

/* media query */
/* large */
@media (max-width: 992px) {
    .banner-img > img {
        width: 100%;
        height: auto;
    }
    .text h2 {
        font-size: 1.6rem;
    }
    .text p {
        font-size: 1.1rem;
    }
    .kontak-kiri {
        margin-left: 1.8rem;
    }
    .kontak-kiri form input ,textarea {
        font-size: 1rem;
    }
    #kontak form input[type="submit"] {
        font-size: 0.9rem;
    }
    .kontak-kanan h2 {
        font-size: 1.6rem;
    }
    .kontak-kanan p {
        font-size: 1.2rem;
    }
    .kontak-kanan ul li a {
        font-size: 0.9rem;
    }
    .kontak-kiri, .kontak-kanan {
        flex-basis: 90%;
    }
}
/* tablet */
@media (max-width: 768px) {
    .banner-img > img {
        width: 100%;
        height: auto;
    }
    .text h2 {
        font-size: 1.4rem;
    }
    .text p {
        font-size: 1rem;
    }
    .kontak-kiri {
        margin-left: 1.8rem;
    }
    .kontak-kiri form input ,textarea {
        font-size: 0.9rem;
    }
    #kontak form input[type="submit"] {
        font-size: 0.8rem;
    }
    .kontak-kanan h2 {
        font-size: 1.4rem;
    }
    .kontak-kanan p {
        font-size: 1.1rem;
    }
    .kontak-kanan ul li a {
        font-size: 0.8rem;
    }
    .kontak-kiri, .kontak-kanan {
        flex-basis: 90%;
    }
}
/* mobile */
@media (max-width: 576px) {
    .banner-img > img {
        width: 100%;
        height: auto;
    }
    .text h2 {
        font-size: 1.2rem;
    }
    .text p {
        font-size: 0.9rem;
    }
    .kontak-kiri {
        margin-left: 1.8rem;
    }
    .kontak-kiri form input ,textarea {
        font-size: 0.8rem;
    }
    #kontak form input[type="submit"] {
        font-size: 0.7rem;
    }
    .kontak-kanan h2 {
        font-size: 1.2rem;
    }
    .kontak-kanan p {
        font-size: 1rem;
    }
    .kontak-kanan ul li a {
        font-size: 0.7rem;
    }
    .kontak-kiri, .kontak-kanan {
        flex-basis: 90%;
    }
}