@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap');

:root{
    --baseColor: #e1fb4c;
    --fontLogo: 'Courgette', cursive;
}

/* style nav  */
.m-navbar{
    background-color: #609966 !important;
    backdrop-filter: blur(4px);
}
.m-navbar .offcanvas{
    height: 100vh;
}
.m-logo{
    font-size: 1.6rem;
    color: var(--baseColor);
    font-family: var(--fontLogo);
    font-weight: 700;
}
.m-logo span{
        color: rgb(39, 39, 39);
}
.navbar-nav a{
    font-weight: 700;
    transition: 0.5s;
    transition: all .55s ease;
    color: #ffffff;
}
.navbar-nav a:hover{
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: var(--baseColor);

}
.navbar-nav a.actived{
    color: #ffffff;
    background-color: var(--baseColor);
    margin: -10px 0;
    padding: 17px 10px;
}
