@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap');

:root{
    --baseColor: #FF9B50;
    --color1: #EDF1D6;
    --color2: #9DC08B;
    --color3: #609966;
    --color4: #40513B;
    --fontLogo: 'Courgette', cursive;
    --bg: linear-gradient(to top, var(--color3) 0%, var(--color4) 100%);;
}

*{ 
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background: var(--bg);
}


/* main content  */
.hero{
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 6rem;
    position: relative;
}
.text-hero{
    color: var(--color1);
}

.bgimg-hero {
    /* margin-top: -2.5rem; */
    position: relative;
}
.img-hero {
    position: absolute;
    top: 300px;
    right: 150px;
}
.company span{
    font-family: var(--fontLogo);
    color: var(--baseColor);
}

.btn1{
    padding: 12px 16px;
    background-color: var(--color3);
    border-radius: 35px;
    font-weight: 700;
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease;
    width: fit-content;
}
.icon{
    color: greenyellow;
    margin-left: 10px;
}
.btn1{
    text-decoration: none;
    color: black;
}
.btn1:hover{
    color: var(--color4);
    font-size: 20px;
    background-color: #9DC08B;
}

/* media query */
/* large */
@media (max-width: 992px) {
    .hero{
        font-size: 75%;
    }
    .btn1{
        margin-bottom: 2rem;
    }
    .hero h3 {
        margin-top: 2rem;
    }

}
/* tablet */
@media (max-width: 768px) {
    .hero{
        text-align: center;
    }
    .hero i{
        margin-bottom: 10px;
    }
    .hero a{
        justify-content: center;
    }
}
/* mobile */
@media (max-width: 576px) {
    
}